* {
  margin: 0;
}

/* Body */
body {
  max-width: 60rem;
  margin: 0 auto;
  background-color: #eeede7;
  color: black;
  font-family: "Noto Sans", sans-serif;
}
/* /=======================================*/

/* Header */
header {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}
header h1 {
  flex-grow: 1;
  /* margin-left: 2em; */
}

header nav {
  /* margin-right: 2em; */
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
}
/* /============================================== */

/* Section */
section {
  padding: 1em;
}
/* /============================================== */

/* Intro */
#intro p {
  font-size: 1.5em;
  margin: 1em 0;
}
#intro h2 {
  font-size: 2em;
  color: #c44b4f;
  margin-bottom: 1em;
}

#intro .line {
  border-bottom: 1px solid black;
  width: 4em;
}

#intro .long-line {
  border-bottom: 1px solid #cbcdcb;
}
/* /============================================== */

/* Projects Section */
.project-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.panel.active {
  flex: 5;
}

.panel {
  border-radius: 50px;
  height: 32rem;
  /* max-width: 30em; */
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
  cursor: pointer;
  margin: 10px;
  flex: 0.25;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  /* position: absolute; */
  font-size: 1.5rem;
  margin-bottom: 1em;
}

#p1-panel {
  background-image: url(./images/p1.jpg);
}
#p2-panel {
  background-image: url(./images/p2.jpg);
}
#p3-panel {
  background-image: url(./images/p3.jpg);
}

.info-box {
  /* background-color: rgba(0, 0, 0, 0); */
  width: 0;
  height: 12rem;
  padding: 2rem;
  opacity: 0;
  /* opacity: 0; */
  /* display: none; */
}

.panel.active .info-box {
  opacity: 1;
  width: 20rem;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.5s ease-in 0.5s, width 0.5s ease-in;
}
/* /============================================== */
